{% extends 'base.html.twig' %}

{% block title %}New Vote{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        
    <h1>Create new Vote</h1>

    {{ include('vote/_form.html.twig') }}

    <a href="{{ path('vote_index') }}">back to list</a>
{% endblock %}
