{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
   {% for item in data %}
  {# {{ dump(item.reponses.owner.reponses) }} #}
       {# {{item.id}} #}
        {% for item2 in item.reponses.owner.reponses %}
            {# {{ dump(item2) }} #}
            <h4> You vote to:</h4>
            {{  item2.name }}
        {% endfor %}
   {% endfor %}
{% endblock %}